@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@keyframes rotation {
    50% {
        transform: rotate(5deg);
    }
}

* {
    margin: 0px;
    box-sizing: border-box;
    background-color: #cccccc;
}

body {
    max-width: 100dvw;
    font-size: 16px;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#counter {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    column-gap: 3%;
    margin: 5% 0;
}

.counter-div {
    display: flex;
    align-items: center;
    padding: 10px;
}

.counter-div h4 {
    font-family: 'Amatic SC';
    font-size: 2rem;
}

#counter h3 {
    font-family: 'Amatic SC';
    font-size: 2.2rem;
    color: #990000;
}

#main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1%;
    margin: 3%;
}

#buttons img {
    cursor: pointer;
    max-width: 100px;
}

#buttons img:hover {
    scale: 1.1;
}

.image-div {
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 2rem;
    min-width: 30%;
}

h4 {
    font-family: 'Amatic SC';
    font-size: 2rem;
}

#message-img {
    display: flex;
    justify-content: center;
}

#messages {
    font-family: 'Amatic SC';
    font-size: 3rem;
    font-weight: 700;
    color: #990000;
    text-align: center;
}

#messages-choices {
    font-family: 'Amatic SC';
    font-size: 2rem;
    font-weight: 700;
    color: black;
    text-align: center;
}

.message-img-class {
    text-align: center;
    width: 150px;
    margin: 0;
}

/* ROTATE*/
.rotate {
    animation: rotation 1s infinite linear;
}

/* RULES */
#rules {
    display: flex;
    justify-content: center;
}
#rules img {
    width: 70%;
}

/* THE MODAL */
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    scrollbar-gutter: #ccc;
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto;
    border: 1px solid #888;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    padding: 10px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #990000;
    text-decoration: none;
    cursor: pointer;
}

#score-board {
    text-align: left;
    font-family: 'Amatic SC';
    font-size: 1.4rem;
    min-width: 20%;
    font-weight: 700;
    border: 2px solid white;
    max-height: 20%;
    overflow-y: scroll;
}

@media screen and (max-width: 1024px) {
    #main-container {
        display: flex;
        width: 100dvh;
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
    }
    header {
        flex-direction: row;
        width: 90dvw;
        justify-content: space-between;
        align-items: center;
    }
    #main-content {
        flex-direction: column;
        align-items: center;
        max-width: 95%;
        margin-bottom: 15%;
    }

    #buttons {
        justify-content: center;
        max-width: 80%;
    }

    .image-div {
        max-width: 15%;
        font-size: 1.5rem;
    }

    .modal-content {
        border: 1px solid #888;
        width: 80%;
    }

    #score-board {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    #main-container {
        max-width: 100dvw;
        justify-content: space-around;
        align-items: center;
    }
    header {
        flex-direction: column;
        width: 90dvw;
        justify-content: space-between;
        align-items: center;
    }
    #main-content {
        flex-direction: column;
        align-items: center;
    }

    #buttons {
        justify-content: center;
        max-width: 90%;
    }

    .image-div {
        max-width: 15%;
        font-size: 1.4rem;
    }

    .modal-content {
        border: 1px solid #888;
        width: 80%;
    }

    #score-board {
        font-size: 1.1rem;
        max-height: 30%;
    }
}
